<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
<h4 style="text-align: center; font-size: 30px; padding-top: 1px;">Login Form!</h4>
<form action="/" method="">
    <div id="input-container">
    <input type="email" placeholder="Email Address" id="email" required>
    <input type="password" placeholder="Password" id="password" required>
    <div id =btn>
        <button type="submit" id="button">Login</button>
    </div>
</div>
<p id="signup-login-link">Don't have an account? <a href="/index.html">Sign up here</a></p>
</form>
</body>
</html>